[submodule "other_works/ST-VQA_Loc"]
	path = other_works/ST-VQA_Loc
	url = git@github.com:brugues/ST-VQA_Loc.git
[submodule "other_works/geomm"]
	path = other_works/geomm
	url = git@github.com:brugues/geomm.git
[submodule "other_works/umwe"]
	path = other_works/umwe
	url = https://github.com/ccsasuke/umwe
[submodule "other_works/laser"]
	path = other_works/laser
	url = git@github.com:brugues/LASER.git
